.h1 {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 6%;
}

body {
  background-color: beige;
}

.greet_mobile {
  display: none;
}

.buttons_mobile {
  display: none;
}

.img1 {
  width: 37%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 10px 10px 5px #ccc;
}

.greet {
    position: absolute;
    top: 0;
    margin-left: 42%;
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 35%;
}

.greet_p1 {
    font-size: 3.4vw;
}

.greet_p2 {
    font-size: 2.4vw;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .timeline{
    position: absolute;
    display: inline-block;
    padding: 4% 1%;
    color: #fe95d6;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-top: 28vw;
    margin-right: 26vw;
    top: 0;
    right: 0;
    width: 33vw;
    height: 10vw;
    font-size: 2vw;
    text-align: center;
    border: none;
  }
  .timeline:hover{
    background: #fe95d6;
    color: #000000;
    box-shadow: 0 0 5px #fe95d6,
                0 0 25px #fe95d6,
                0 0 50px #fe95d6,
                0 0 200px #fe95d6;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  .timeline:nth-child(1){
    filter: hue-rotate(270deg);
  }
  .timeline:nth-child(2){
    filter: hue-rotate(110deg);
  }
  .timeline span{
    position: absolute;
    display: block;
  }
  .timeline span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#fe95d6);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
  }
  .timeline span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#fe95d6);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
  }
  .timeline span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fe95d6);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
  }
  @keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
  }
  
  .timeline span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fe95d6);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
  }

  .git {
    width: 24.5%;
    height: 6.5%;
    font-size: 4vw;
    background-color: rgb(241, 127, 220);
    border: none;
    margin-top: 2%;
    margin-right: 2%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .linkedin {
    width: 24.5%;
    height: 6.5%;
    font-size: 4vw;
    background-color: rgb(241, 127, 220);
    border: none;
    margin-top: 2%;
    margin-right: 27%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .insta {
    width: 24.5%;
    height: 6.5%;
    font-size: 4vw;
    background-color: rgb(241, 127, 220);
    border: none;
    margin-top: 2%;
    margin-right: 52%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .face {
    width: 24.5%;
    height: 6.5%;
    font-size: 4vw;
    background-color: rgb(241, 127, 220);
    border: none;
    margin-top: 2%;
    margin-right: 77%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .sidenav {
    height: 100%;
    width: 22%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(241, 127, 220);
    overflow-x: hidden;   
    border-left: solid #000;
  }

  .info{
    color: #000;
    position: relative;
    margin-top: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3vw;
  }

  @media screen and (max-width: 1200px) {
    .sidenav {
      display:none
    }

    .greet {
      display: none;
    }

    body {
      background-image: url("pics/bg-imag-mobile.jpg");
      background-color: unset;
    }

    .img1 {
      width: 47vw;
      height: 70vw;
      top: 5%;
      position: absolute;
      left: 26%;
    }

    .greet_mobile {
      display: block;
      position: absolute;
      top: 85vw;
      margin-left: 2%;
      text-align: center;
      line-height: 10vw;
    }

    .descr_mobile {
      font-size: 5vw;
    }

    .name_mobile {
      font-size: 7vw;
    }

    .buttons_mobile {
      width: 100%;
      height: 7%;
      position: absolute;
      display: inline-block;
      top: 115vw;
      text-align: center;
      border-top: solid black;
      border-bottom: solid black;
      padding-right: 5vw;
    }

    .git {
      width: 10%;
      height: 72%;
      font-size: 10vw;
      background-color:unset;
      right: 15vw;
      border: none;
      position: absolute;
      margin-right: 15vw;
      text-align: center;
    }

    .linkedin {
      width: 10%;
      height: 72%;
      font-size: 10vw;
      background-color:unset;
      right: 20vw;
      border: none;
      position: absolute;
      margin-right: 21vw;
      text-align: center;
    }

    .insta {
      width: 10%;
      height: 72%;
      font-size: 10vw;
      background-color:unset;
      right: 30vw;
      border: none;
      position: absolute;
      margin-right: 22vw;
      text-align: center;
    }

    .face {
      width: 10%;
      height: 72%;
      font-size: 10vw;
      background-color:unset;
      left: 27vw;
      border: none;
      position: absolute;
      text-align: center;
    }

    .timeline {      
    position: absolute;
    left: 27vw;
    color: white;
    top: 110vw;
    width: 45vw;
    height: 15vw;
    padding: 6% 2%;
    }

    .timeline:hover{
      background: #ff0000;
      color: #000000;
      box-shadow: 0 0 5px #ff0000,
                  0 0 25px #ff0000,
                  0 0 50px #ff0000,
                  0 0 200px #ff0000;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
    .timeline:nth-child(1){
      filter: hue-rotate(270deg);
    }
    .timeline:nth-child(2){
      filter: hue-rotate(110deg);
    }
    .timeline span{
      position: absolute;
      display: block;
    }
    .timeline span:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,#ff0000);
      animation: animate1 1s linear infinite;
    }
    @keyframes animate1{
      0%{
          left: -100%;
      }
      50%,100%{
          left: 100%;
      }
    }
    .timeline span:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#ff0000);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
    }
    @keyframes animate2{
      0%{
          top: -100%;
      }
      50%,100%{
          top: 100%;
      }
    }
    .timeline span:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,#ff0000);
      animation: animate3 1s linear infinite;
      animation-delay: 0.50s;
    }
    @keyframes animate3{
      0%{
          right: -100%;
      }
      50%,100%{
          right: 100%;
      }
    }
    
    .timeline span:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#ff0000);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
    }
    @keyframes animate4{
      0%{
          bottom: -100%;
      }
      50%,100%{
          bottom: 100%;
      }
    }
  } 